/* AppComponent's private CSS styles */

#biblio-app {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 4.2em;

  text-align: center;
  color: rgb(37, 24, 7);
  margin-bottom: -10px;
  font-weight: bolder;
}

#title-board {
  background-color: saddlebrown;
  width: 460px;
  margin: auto;
  border-radius: 50px 50px 0 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  border: 25px solid saddlebrown;
  min-width: 900px;
  background-color: rgb(37, 24, 7);
}

nav li {
  display: flexbox;
}

nav a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: saddlebrown;
  border: 3px solid rgb(37, 24, 7);
  border-radius: 4px;
}
nav a:visited,
a:link {
}
nav a:hover {
  color: gold;
  transform: scale(4em);
}
nav a.active {
  color: #039be5;
}
