/* DashboardComponent's private CSS styles */
#topshelf {
  border: 25px solid saddlebrown;
  border-radius: 50px 50px 0px 0px;
  background-color: saddlebrown;
  padding-top: 0px;
  min-width: 900px;
}

#shelf-bg {
  background-color: rgb(37, 24, 7);
  min-height: 250px;
  margin: auto;
  text-align: center;
}
h3 {
  color: burlywood;
  text-align: center;
  background-color: saddlebrown;
}

img {
  margin: auto;
  padding-right: 1vw;
}

img:hover {
  transform: scale(1.2);
  margin-left: auto;
}
