<!---->
<div *ngIf="book" id="book-detail">
  <h2>
    {{ book.title | uppercase
    }}<small *ngIf="book.edition"> ({{ book.edition }}. Edition)</small>
  </h2>
  <div>
    <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" />
  </div>
  <div class="description">
    <table>
      <tr>
        <th>Author</th>
        <td>
          <input [(ngModel)]="authors" placeholder="authors" />
        </td>
      </tr>
      <tr>
        <th>Publisher</th>
        <td><input [(ngModel)]="book.publisher" placeholder="publisher" /></td>
      </tr>
      <tr>
        <th>ISBN</th>
        <td><input [(ngModel)]="book.isbn" placeholder="isbn" /></td>
      </tr>
      <tr>
        <th>Series</th>
        <td><input [(ngModel)]="book.series" placeholder="series" /></td>
      </tr>
    </table>

    <p>
      <textarea
        rows="5"
        cols="60"
        [(ngModel)]="book.description"
        placeholder="description"
      >
      </textarea>
    </p>
  </div>

  <button (click)="updateBook()">Save Changes</button>
  <button (click)="goBack()">Go Back</button>
  <!--
    <label>Description:</label>
    <input [(ngModel)]="book.description" placeholder="description" />

    -->
</div>
